<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- buat bikin bagian kiri (side bar) -->
  <ion-menu auto-hide="true"content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- bagian bawah (navbar) -->
  <ion-tabs *ngIf="isLoggedIn">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="following">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Following</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="create">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Create</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="users">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Users</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="prefs">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Prefs</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>